body{ 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFD07B ;
   background-image: url(images/BakingSymbolcopy.jpg);
  background-repeat: no-repeat;
  grid-template-columns: 3fr 1fr ;
  padding-top:1px;
  
}

nav {
  padding: 1rem;
  border-radius: 2rem;
  font-size: 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

nav a {
  padding: .5rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: #cfa679;
  border-radius: 2rem;
  color: black;
}

body {
  background-color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wrapper {
max-width: 64rem;
margin-left: auto;
margin-right: auto;
background-color: #cfa679;

}

header h1 {
  font-size: 150%;
  margin-left: 60px;
}

main {
  padding: 30px;
  font-size: 125%;
  line-height: 1.4;
  
}


.gallery {
 display: grid;
 justify-content: space-evenly;
 padding: 1rem;
}
.gallery img{
  max-width: 100%;
  height: 15rem;
  border: white, 15px, solid;
}


footer {
  background-color:#FFD07B ;
  padding: 3rem;
}

